<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.strong.system.mapper.MenuMapper">

    <sql id="Base_Column_List">
        menu.id as id, menu.name as name, menu.sort as sort, menu.path as path, menu.parent_id as parent_id
    </sql>

    <resultMap id="MenuMap" type="com.strong.system.entity.Menu">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="path" property="path"/>
        <result column="sort" property="sort"/>
        <result column="parent_id" property="parentId"/>
    </resultMap>

    <select id="queryParents" resultMap="MenuMap">
        SELECT <include refid="Base_Column_List" /> FROM menu where parent_id is null order by sort
    </select>

    <select id="queryChildrenByParentId" parameterType="String" resultMap="MenuMap">
        SELECT <include refid="Base_Column_List" /> FROM menu where parent_id = #{parentId} order by sort
    </select>

    <select id="queryParentsByRoleId" parameterType="String" resultMap="MenuMap">
        SELECT <include refid="Base_Column_List" /> FROM menu
        JOIN role_menu on menu.id = role_menu.menu_id
        where menu.parent_id is null and role_menu.role_id = #{roleId} order by menu.sort
    </select>

    <select id="queryChildrenByParentIdAndRoleId" parameterType="String" resultMap="MenuMap">
        SELECT <include refid="Base_Column_List" /> FROM menu
        JOIN role_menu on menu.id = role_menu.menu_id
        where menu.parent_id = #{parentId} and role_menu.role_id = #{roleId} order by menu.sort
    </select>

    <delete id="deleteRoleMenuByRoleId" parameterType="String">
        DELETE FROM role_menu WHERE role_id = #{roleId}
    </delete>

    <insert id="insertByRoleId" parameterType="java.util.List">
        INSERT INTO role_menu (id, role_id, menu_id)
        VALUES
        <foreach collection="roleMenuList" item="item" separator=",">
            (#{item.id}, #{item.roleId}, #{item.menuId})
        </foreach>
    </insert>

    <update id="updateMenu" parameterType="com.strong.system.entity.Menu">
        update menu
        set name = #{name},
            path = #{path},
            parent_id = #{parentId},
            sort = #{sort}
        where id = #{id}
    </update>

    <insert id="insertMenu" parameterType="com.strong.system.entity.Menu">
        insert into menu (id, name, path, parent_id, sort)
        values (#{id}, #{name}, #{path}, #{parentId}, #{sort})
    </insert>

</mapper>
