<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.strong.system.mapper.RoleMapper">

    <sql id="Base_Column_List">
        id, name, code, description
    </sql>

    <resultMap id="RoleMap" type="com.strong.system.vo.RoleVo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="key"/>
        <result column="description" property="description"/>
    </resultMap>

    <select id="queryAllRoles" parameterType="String" resultMap="RoleMap">
        SELECT <include refid="Base_Column_List" /> FROM role
    </select>

    <insert id="insertRole" parameterType="com.strong.system.entity.Role">
        INSERT INTO role (id, name, code, description)
        VALUES (#{id}, #{name}, #{code}, #{description})
    </insert>

    <update id="updateRole" parameterType="com.strong.system.entity.Role">
        UPDATE role
        SET name = #{name},
            code = #{code},
            description = #{description}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="String">
        DELETE FROM role WHERE id = #{roleId}
    </delete>

</mapper>
